
*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    background-color: #EEEDDE;
}

.nav
{
    display: flex;
    justify-content: space-between;
    width: 99%;
    background-color: transparent;
    align-items: center;
    margin-top:10px;
    border-radius: 10px;
}

.menu
{
    display: flex;
    align-items: center;
    gap: 25px;
    transform: translateX(90px);
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:#000;
    transition: all 0.4s ease;
}

a:hover
{
    background-color: darkgoldenrod;
    color: white;
    border-radius: 10px;
    padding: 2px 4px;
    transition: all 0.4s ease;
}

.logo h3 
{
    color: #000;
    font-size: 18px;
    font-family: a;
    font-weight: 500;
   transform: translateX(-180px);
}

.logo h3 span
{
    font-style: italic;
    font-size:18;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: orange;
}

.hero1
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.bos
{
    display: flex;
    background-color: rgb(147, 147, 147);
    border-radius: 10px;
    padding: 9px 12px;
    align-items: center;
    width: 400px;
    margin-top: 20px;
}
input
{
    width: 250px;
   padding: 6px 4px;
   border-radius: 8px;
   border: 0px;
   outline: none;
   background-color: transparent;
}
::placeholder
{
    color: whitesmoke;
}
.bnt button
{
    box-shadow: 2px 2px 4px rgb(3, 3, 38);
    color: whitesmoke;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-color: #000;
    border-radius: 10px;
    padding: 8px 18px;
    text-align: center;
}
.img img
{
    width: 20px;
    height: 20px;
}

.text h1
{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 4px 10px;
    margin-left: +33px;
}
.text p
{
 font-size: 14px;
 font-family:'Times New Roman', Times, serif;
 font-weight: 400;
 font-style: normal;
 letter-spacing: 2px;
 color: #000;
 transform: translateX(60px);
 margin-top: 20px;
}
.qormoyin
{
    display: flex;
    align-items: center;
    transform: translateY(100px);
    padding: 8px 20px;
}
